# --- Custom Data & App Files ---
*.parquet
!clean_nav_data.parquet
!master_stats.parquet
!correlation_matrix.parquet
!precomputed_forecasts.parquet
!backtest_metrics.parquet
!backtest_charts.parquet

*.csv
*.db
.DS_Store
*.html
*.pdf