DB_USER=User_name
DB_PASSWORD=Password
DB_HOST=Host_name
DB_PORT=Port_Number
DB_NAME=Database_name
DB_POOL_SIZE=Pool_Size
DB_MAX_OVERFLOW=Max_Overflow

API_BASE_URL=Your API URL #visit MF API website if you dont have any
API_RATE_LIMIT=Limit
API_TIMEOUT=Timeout
API_RETRIES=

PROMETHEUS_PORT=Port_number
METRICS_PREFIX=
